<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>你好,<%= @user.first %> <%= @user.last %></h1>
<p>
 我们将帮你重新设置您的密码，请点击以下链接
</p>
<p>
  <%= @url %>.
</p>
<p>谢谢使用！</p>
</body>
</html>