<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>你好,<%= @user.first %> <%= @user.last %>感谢您注册助写网</h1>
<p>
欢迎您成为助写网任务承担者中的一员，在这儿您将有机会利用自己渊博的专业知识帮助他人并得到丰厚的报酬，你还在等什么？赶快激活自己的账号吧！
    请点击链接激活您的账号.<br>
</p>
<p>
  <%= @url %>.
</p>
<p>感谢您的支持！</p>
</body>
</html>