<div class="welcome_container">
  <div class="welcome_bg">
    <div class="image_blinder welcome_header">
      <h1>助写网 -- 帮你找到学海中引路的灯塔</h1>
    </div>
  </div>
  <div class="welcome_bottom">
    <div class="login_box" style="text-align: left">
      <div><p><b>无法激活账号，请联系管理员</b></p></div>

    </div>
  </div>


</div>

