<div class="welcome_container">
  <div class="welcome_bg">
    <div class="image_blinder welcome_header">
      <h1>助学网 -- 帮你找到学海中引路的灯塔</h1>
    </div>
  </div>
  <div class="welcome_bottom">
    <div class="login_box">
        <div><%=@message.html_safe%>  或者  <a href="/">返回上一页</a>
        </div>
    </div>
  </div>


</div>

