<div class="login_box" style="text-align: left">
  <div><p><b>恭喜您完成注册！我们已经发送激活邮件到您的邮箱，请使用该邮件激活您的账号。（如果您的收件箱内没有邮件，请查看邮箱的垃圾邮件文件夹） </b></p></div>
  <div><b><a href="/"><
    <返回主页
  </a></b></div>
</div>