<div class="profile_top_bg">
  <div style="padding: 30px;box-sizing: border-box">
    <div style="text-align: center"><b>您的酬金已经支付，将由本平台代为保管，任务已经进入执行阶段。我们将立即通知承接人开始任务，请您耐心等待。<a href="/home"><<返回主页</a></b> </div>
  </div>
</div>

