<div class="profile_top_bg">
  <div style="padding: 30px;box-sizing: border-box">
    <div style="text-align: center"><b>您的任务进度已经提交，系统已经通知任务发布人审核，请您耐心等待。若3天之内发布人未提出异议我们将默认审核通过。并保证您的部分或全部报酬 <a href="/home"><<返回主页</a></b> </div>
  </div>
</div>

